@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

*,*:before,*:after{box-sizing:border-box}

body{
  min-height:100vh;
  font-family: 'Raleway', sans-serif;
  /* Removed all background properties from here */
}
.container { cursor: pointer; }
        .top, .bottom, .center { margin: 10px; }
.container{
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
  
  &:hover,&:active{
    .top, .bottom{
      &:before, &:after{
        margin-left: 200px;
        transform-origin: -200px 50%;
        transition-delay:0s;
      }
    }
    
    .center{
      opacity:1;
      transition-delay:0.2s;
    }
  }
}

.top, .bottom{
  &:before, &:after{
    content:'';
    display:block;
    position:absolute;
    width:200vmax;
    height:200vmax;
    top:50%;left:50%;
    margin-top:-100vmax;
    transform-origin: 0 50%;
    transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    z-index:10;
    opacity:0.65;
    transition-delay:0.2s;
  }
}

.top{
  &:before{transform:rotate(45deg);background:#e46569;}
  &:after{transform:rotate(135deg);background:#ecaf81;}
}

.bottom{
  &:before{transform:rotate(-45deg);background:#60b8d4;}
  &:after{transform:rotate(-135deg);background:#3745b5;}
}

.center{
  position:absolute;
  width:400px;
  height:400px;
  top:50%;left:50%;
  margin-left:-200px;
  margin-top:-200px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:30px;
  opacity:0;
  transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  transition-delay:0s;
  color:#333;
  
  input{
    width:100%;
    padding:15px;
    margin:5px;
    border-radius:1px;
    border:1px solid #ccc;
    font-family:inherit;
  }
}
button{
    padding:10px 20px;
    background:#333;
    color:#fff;
    border:none;
    border-radius:1px;
    cursor:pointer;
    font-family:inherit;
    transition:all 0.3s cubic-bezier(0.445, 0.05, 0, 1);
    
    &:hover{
        background:#555;
    }
}
h2{
  margin-left: 15px;
}
.todoButton{
    margin-left: 15px;
}
.todoInput{
  width:40%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  margin-left: 20px;
}
ul{
    list-style: none;
}
li{
  margin-bottom: 5px;  
}
.deleteButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgba(223, 78, 78, 0.774);
}
.material-icons {
  font-size: 18px;
}